<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCDataBindingFormTagDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvc-data-binding-form-tag-demo.war">
      <element id="artifact" artifact-name="SpringMVCDataBindingFormTagDemo:war exploded" />
    </root>
  </artifact>
</component>